
.formulario > ion-row > ion-col
{
    border: solid 1px #ddd;
    border-radius: 10px;
    margin: 5px;
    
}

#recorte
{
    border: solid 1px #ddd;
    border-radius: 10px;
    margin: 5px;
}

 ion-card-title
{
 text-align: center;   
}

#btnhelp
{
    font-size: 10px;
    

}