
<ion-content>
  <ion-card>

    <ion-card-content>
      <ion-label>Elija su tipo de usuario</ion-label>

      <ion-select  ok-text="Aceptar" placeholder="Persona Natural" cancel-text="Cancelar" value="Persona Natural" >
        <ion-select-option >Persona Natural</ion-select-option>
        <ion-select-option>Domiciliario</ion-select-option>
        <ion-select-option>Empresa</ion-select-option>
      </ion-select>

    </ion-card-content>

    <ion-card-content>

          <div>
            <ion-grid>
              <ion-row >
                <ion-col><ion-input>Nombres</ion-input></ion-col>
                <ion-col><ion-input>Apellidos</ion-input></ion-col>
              </ion-row>
          
              <ion-row><ion-input>Correo electronico</ion-input></ion-row>
              
              <ion-row><ion-input>Contraseña</ion-input></ion-row>
          
              <ion-row>
                <ion-col><ion-input>Ciudad</ion-input></ion-col>
                <ion-col><ion-input>Telefono</ion-input></ion-col>
              </ion-row>
          
              <ion-row><ion-input>Nombre de la empresa</ion-input></ion-row>
              <ion-row><ion-input>Correo empresarial</ion-input></ion-row>
          
            </ion-grid>
          
            <ion-button>Registrarse</ion-button>
            <br>
            <br>
            <ion-button href="https://www.w3schools.com/html/html_basic.asp">¿Como saber qué tipo de usuario soy?</ion-button>
          </div>
      
      

    </ion-card-content>



</ion-card>




</ion-content>
