
html{
    margin-left: 30px;
    margin-right: 30px;
}

#Titulos{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#inputs{
   float: left;
}

#btn-entrar{
    float: right;
    margin-right: 30px;
}